// .product
//     @extend .col-xs-4

.product-listing
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    .product
        flex-basis: 30%
        flex-grow: 0
        flex-shrink: 0
        height: 30%

        p
            height: 10em

    .product img
        margin-right: 1em

    .product .purchase
        background-color: #fff
